table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    border: 1px solid black;
    text-align: left;
    width: 5px;
    padding:5px;
    background-color: gainsboro;
  }
  
  tr:nth-child(even) {
    background-color: #5c4b4b;
  }